H1 {
  color:#ffffff;
  background-color: #55e015;
}
.Reg_Form {
  text-align: right;
}
body {
  background-color: #55f015;
}
html, body, .container{
	height: 100%;
	width: 100%
}
.Menu {
	position: absolute;
	left: 1%;
	top:8%;
	background-color:aliceblue;
}
input {
  background-color: #a000e0;
  border-block-color: #500050;
  border-radius: 7px;
  color: #ffffff;
  cursor: pointer;
}
.Settings {
  display: inline-block;
  border: 0px;
  position: absolute;
  left:1%;
  top:8%;
}
.Settings button {
	text-align: center;
	border: 1px solid #000;
	*border: 0px;
	background: none;
	cursor: pointer;
	padding: 7px 7px 7px;
	color: red;
}