{% extends "base.html" %}

{% block content %}

<button id="Settings">Hello</button >
<form method="post" class="Reg_Form">
    <input type="submit" name="SignUp" value="Регистрация">
    <input type="submit" name="SignIn" value="Вход">
</form>

<center>
    Привет, на этом сайте вы можете найти много интереных для нас (разработчиков сайта) вещей. <br>
    Например, вы можете опробовать редактор блок-схем и конвертер их в паскаль <br>
    о для начала работы с этим инструментом вы должны войти или зарегистрироваться. <br>
    Для гостей не доступен функционал сайта.
</center>

{% endblock %}

